
<!doctype html>
<html>
<head>
<!----328 Visualhyip.com---->
<meta charset="utf-8">
<title>flixtrade.co</title>
<link rel="shortcut icon" href="images/icon.png">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/animate.css"/>
<link rel="stylesheet" type="text/css" href="css/dc_accordion_toggle.css"/>
<link rel="stylesheet" type="text/css" href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css">
<link rel="stylesheet" type="text/css" href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css">
<script src='js/jquery-1.11.3.min.js'></script>
<script src='js/wow.js'></script>
<script src='js/dc_accordion_toggle.js'></script>
<script>
    wow = new WOW();
    wow.init(); 
</script>
</head>

<body>
    <div id="slider2">
        <div id="sub_slider">
            <div class="emial bounceInLeft animated wow"data-wow-duration="2s">
                <p><i class="far fa-envelope"></i> Email : admin@flixtrade.co</p>
            </div>
            <div class="language bounceInUp animated wow"data-wow-duration="2s">
                
                <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                
            </div>
            							 <div class="button bounceInRight animated wow"data-wow-duration="2s">
                                <div class="button_one">
                    <a href="/logout" class="a-link"><i class="fas fa-unlock"></i> Log Out </a>
                </div>
                <div class="button_two">
                    <a href="/account" class="a-link"><i class="fas fa-user-plus"></i> Account  </a>
                </div>
                            </div>
							        </div>
        <div id="top_header">
            <div id="sub_top_header">
                <div class="logo zoomIn animated wow" data-wow-duration="2s">
                    <a href="/a=home"><img src="/logo.png"></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/a=home">Home</a></li>
                        <li><a href="/a=about-us">About Us</a></li>
                        <li><a href="/a=news">News</a></li>
                        <li><a href="/a=faq">F.A.Q.</a></li>
                        <li><a href="/a=rules">Terms And Condition</a></li>
                        <li><a href="/a=support">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f2e4ed2ed9d9d26270923f0/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!-- <script type="text/javascript">
    const result = getElementById('result');
   localStorage.getItem("textvalue", result);
</script> -->

<!--End of Tawk.to Script-->
        
<div id="sub_slid">
             <div class="headline">
                 <p>flixtrade.co</p>
            </div>
         </div>
    </div>
    <div id="others">
        <div id="sub_others">

<h3>Please confirm your deposit:</h3><br><br>

Copy and  Pay to this Wallet Address:  <b>1D28RQxQY6uGkZHZzFke6MP8uFs5PeT3Yh</b><br><br>

<table cellspacing=0 cellpadding=2 class="form deposit_confirm">
<tr>
 <th>Plan:</th>
 <td>20% After 1 Day</td>
</tr>
<tr>
 <th>Profit:</th>
 <td>20.00% after 1 days</td>
</tr>
<tr>
 <th>Principal Return:</th>
 <td>Yes</td>
</tr>
<tr>
 <th>Principal Withdraw:</th>
 <td>
Available with 
0.00% fee  </td>
</tr>
 
<tr>
 <th>Credit Amount:</th>
 <td>$<%= amount %></td>
</tr>
<tr>
 <th>Deposit Fee:</th>
 <td>0.00% + $0.00 (min. $0.00 max. $0.00)</td>
</tr>
<tr>
 <th>Debit Amount:</th>
 <td>$<%= amount %></td>
</tr>
<tr>
 <th> Debit Amount:</th>
 <td><%= amount %></td>
</tr>
</table>
<br><br>
<form name=spend method=post><input type="hidden" name="form_id" value="16182649232046"><input type="hidden" name="form_token" value="ba92eff0e537929fd0ac4996358331d8">
<input type=hidden name=a value=deposit>
<input type=hidden name=action value=confirm>
<input type=hidden name=type value=process_1006>
<input type=hidden name=h_id value=5>
<input type=hidden name=compound value=>
<INPUT type=hidden name=amount value="30.00">
<table cellspacing=0 cellpadding=2 border=0>
<tr>
 <td colspan=2><b>Required Information:</b></td>
</tr>
<tr>
 <td>username</td>
 <td><input type="text" name="fields[1]" value="" class=inpts></td>
</tr>
</table>

<br><input type=submit value="Save" class=sbmt> &nbsp;
<input type=button class=sbmt value="Cancel" onclick="document.location='?a=deposit'">
</form>


</div>
</div>
<div id="footer">
        <div id="sub_footer">
            <div class="logof zoomIn animated wow" data-wow-duration="2s">
                <a href="?a=home"><img src="/logo.png"/></a>
            </div>
            <div class="fo-menu">
                <ul>
                    <li><a href="?a=home">  home</a></li>
                    <li><a href="?a=cust&page=about-us">  about us</a></li>
                    <li><a href="?a=news">  news</a></li>
                    <li><a href="?a=faq">  f.a.q</a></li>
                    <li><a href="?a=rules">  terms &amp; Condition</a></li>
                    <li><a href="?a=support">  support</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright 2020 &copy; flixtrade.co All rights reserved</p>
            </div>
        </div>
    </div>
</body>
</html>
