<!doctype html>
<html>

<!-- Mirrored from flixtrade.co/?a=forgot_password by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Mar 2021 04:19:45 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<!----328 Visualhyip.com---->
<meta charset="utf-8">
<title>flixtrade.co</title>
<link rel="shortcut icon" href="images/icon.png">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/animate.css"/>
<link rel="stylesheet" type="text/css" href="css/dc_accordion_toggle.css"/>
<link rel="stylesheet" type="text/css" href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css">
<link rel="stylesheet" type="text/css" href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css">
<script src='js/jquery-1.11.3.min.js'></script>
<script src='js/wow.js'></script>
<script src='js/dc_accordion_toggle.js'></script>
<script>
    wow = new WOW();
    wow.init(); 
</script>
</head>

<body>
    <div id="slider2">
        <div id="sub_slider">
            <div class="emial bounceInLeft animated wow"data-wow-duration="2s">
                <p><i class="far fa-envelope"></i> Email : admin@flixtrade.co</p>
            </div>
            <div class="language bounceInUp animated wow"data-wow-duration="2s">
                
                <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script><script type="text/javascript" src="../translate.google.com/translate_a/elementa0d8.html?cb=googleTranslateElementInit"></script>
                
            </div>
                        <div class="button bounceInRight animated wow"data-wow-duration="2s">
                                <div class="button_one">
                    <a href="/users/login" class="a-link"><i class="fas fa-unlock"></i> Log In </a>
                </div>
                <div class="button_two">
                    <a href="/users/register" class="a-link"><i class="fas fa-user-plus"></i> Register  </a>
                </div>
                            </div>
							        </div>
        <div id="top_header">
            <div id="sub_top_header">
                <div class="logo zoomIn animated wow" data-wow-duration="2s">
                    <a href="/"><img src="logo.png"></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/faq">F.A.Q.</a></li>
                        <li><a href="/rules">Terms And Condition</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f2e4ed2ed9d9d26270923f0/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
        
<div id="sub_slid">
             <div class="headline">
                 <p>Forgot your password</p>
            </div>
         </div>
    </div>
    <div id="others">
        <div id="sub_others">



<script language=javascript>
function checkform() {
  if (document.forgotform.email.value == '') {
    alert("Please type your username or email!");
    document.forgotform.email.focus();
    return false;
  }
  return true;
}
</script>

<h3>Forgot your password:</h3><br>




<form method=post name=forgotform onsubmit="return checkform();"><input type="hidden" name="form_id" value="16169915738684"><input type="hidden" name="form_token" value="90f37d45c71914141708c957d7d26a19">
<input type=hidden name=a value="forgot_password">
<input type=hidden name=action value="forgot_password">
<div class="login_box">
                <div class="other-head-">
                	<p style="text-align:center;">USER INFO</p>
                </div>
                <div class="login_boxa">
                     <div class="other-one">
                        <div class="other-tittle">
                            <p>username or e-mail *</p>
                        </div>
                        <div class="other-type-icona">
                            <div class="other-type typea">
                                <input type="text" placeholder="username or e-mail" name='email' value="">
                            </div>
                            <div class="other-icon">
                                <img src="images/ruser.png">
                            </div>
                        </div>
                    </div>
                    
                    <div class="clr"></div>
					<!----
                                        <div class="captchabox">
                        <div class="captchabg">
                            <p><img style="width:50%;padding:13px;" src="?a=show_validation_image&PHPSESSID=ujdvpdibi7s13panrkl77h82m5&rand=862978472"></p>
                        </div>
                        <div style="    width: 260px;" class="captcha_type">
                            <input style="    width: 95%;" type="text" name=validation_number>
                        </div>
                    </div>---->
                                        <div class="for-log">
                        <div class="login">
                            <input type="submit" value="SEND NOW">
                        </div>
                   </div>
                </div>
            </div>

</form>
</div>
</div><div id="footer">
        <div id="sub_footer">
            <div class="logof zoomIn animated wow" data-wow-duration="2s">
                <a href="indexbc14.html?a=home"><img src="logo.png"/></a>
            </div>
            <div class="fo-menu">
                <ul>
                    <li><a href="/">  home</a></li>
                    <li><a href="/about">  about us</a></li>
                    <li><a href="/news">  news</a></li>
                    <li><a href="/faq">  f.a.q</a></li>
                    <li><a href="/rules">  terms &amp; Condition</a></li>
                    <li><a href="/contactus">  support</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright 2020 &copy; flixtrade.co All rights reserved</p>
            </div>
        </div>
    </div>
</body>

<!-- Mirrored from flixtrade.co/?a=forgot_password by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Mar 2021 04:19:45 GMT -->
</html>