<!doctype html>
<html>

<!-- Mirrored from flixtrade.co/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Mar 2021 04:17:58 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8">
<title>flixtrade.co</title>
<link rel="shortcut icon" href="images/icon.png">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/animate.css"/>
<link rel="stylesheet" type="text/css" href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css">
<link rel="stylesheet" type="text/css" href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css">
<script src='js/jquery-1.11.3.min.js'></script>
<script src='js/wow.js'></script>
<script>
    wow = new WOW();
    wow.init(); 
</script>
</head>

<body>
    <div id="slider">
        <div id="sub_slider">
            <div class="emial bounceInLeft animated wow"data-wow-duration="2s">
                <p><i class="far fa-envelope"></i> Email : admin@flixtrade.co</p>
            </div>
            <div class="language bounceInUp animated wow"data-wow-duration="2s">
                
                <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                }
                </script><script type="text/javascript" src="../translate.google.com/translate_a/elementa0d8.html?cb=googleTranslateElementInit"></script>
                
            </div>
                        <div class="button bounceInRight animated wow"data-wow-duration="2s">
                                <div class="button_one">
                    <a href="/users/login" class="a-link"><i class="fas fa-unlock"></i> Log In </a>
                </div>
                <div class="button_two">
                    <a href="/users/register" class="a-link"><i class="fas fa-user-plus"></i> Register  </a>
                </div>
                            </div>
							        </div>
        <div id="top_header">
            <div id="sub_top_header">
                <div class="logo zoomIn animated wow" data-wow-duration="2s">
                    <a href="/"><img src="logo.png"></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/faq">F.A.Q.</a></li>
                        <li><a href="/rules">Terms And Condition</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f2e4ed2ed9d9d26270923f0/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
        
        
        <div id="sub_slid">
            <div class="welcome zoomIn animated wow"data-wow-duration="2s">
                <h1>WELCOME TO flixtrade.co</h1>
            </div>
            <div class="leading">
                <p>Don’t be late , Investing is great</p>
            </div>
            <div class="all_plan">
                <div class="plan_one bounceInLeft animated wow"data-wow-duration="2s">
                    <div class="plan_box">
                        <div class="plan_i">
                            <img src="images/amount.png"/>
                        </div>
                        <div class="plan_amount">
                            <div class="percent">
                                <p>20%</p>
                            </div>
                            <div class="profit">
                                <p>Profit</p>
                            </div>
                        </div>
                        <div class="daily">
                            <p>After 1 Day</p>
                        </div>
                        <div class="min_max">
                            <div class="min_one">
                                <p>Minimum :      <span>$30.00</span></p>
                            </div>
                            <div class="min_one">
                                <p>Maximum :      <span>$499.00</span></p>
                            </div>
                            <div class="min_one">
                                <p style="text-align: center;">Principal Return</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan_one bounceInUp animated wow"data-wow-duration="2s">
                    <div class="plan_box">
                        <div class="plan_i">
                            <img src="images/amount.png"/>
                        </div>
                        <div class="plan_amount">
                            <div class="percent">
                                <p>50%</p>
                            </div>
                            <div class="profit">
                                <p>Profit</p>
                            </div>
                        </div>
                        <div class="daily">
                            <p>After 2 Days</p>
                        </div>
                        
                        <div class="min_max">
                            <div class="min_one">
                                <p>Minimum :      <span>      $500.00</span></p>
                            </div>
                            <div class="min_one">
                                <p>Maximum :      <span>      $999.00</span></p>
                            </div>
                            <div class="min_one">
                                <p style="text-align: center;">Principal Included</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan_one bounceInDown animated wow"data-wow-duration="2s">
                    <div class="plan_box">
                        <div class="plan_i">
                            <img src="images/amount.png"/>
                        </div>
                        <div class="plan_amount">
                             <div class="percent">
                                <p>80%</p>
                            </div>
                            <div class="profit">
                                <p>Profit</p>
                            </div>
                        </div>
                        <div class="daily">
                            <p>After 3 DAYS</p>
                        </div>
                        
                        <div class="min_max">
                            <div class="min_one">
                                <p>Minimum :      <span>      $1000.00</span></p>
                            </div>
                            <div class="min_one">
                                <p>Maximum :      <span>      $100000.00</span></p>
                            </div>
                            <div class="min_one">
                                <p style="text-align: center;">Principal Included</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan_one bounceInRight animated wow"data-wow-duration="2s">
                    <div class="plan_box">
                        <div class="plan_i">
                            <img src="images/amount.png"/>
                        </div>
                        <div class="plan_amount">
                            <div class="percent">
                                <p>100%</p>
                            </div>
                            <div class="profit">
                                <p>Profit</p>
                            </div>
                        </div>
                        <div class="daily">
                            <p>After 5 Days</p>
                        </div>
                        
                        <div class="min_max">
                            <div class="min_one">
                                <p>Minimum :      <span>      $5000.00</span></p>
                            </div>
                            <div class="min_one">
                                <p>Maximum :      <span>      $500000.00</span></p>
                            </div>
                            <div class="min_one">
                                <p style="text-align: center;">Principal Included</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="aboutbg">
        <div id="sub_aboutbg">
            <div class="about_left">
                <div class="about_head">
                    <p>About flixtrade.co</p>
                </div>
                <div class="aboutborder">
                    
                </div>
                <div class="about_text">
                    <p>Reliably productive, flixtrade.co can actualize vital ventures for the advantage of our investors.We pride ourselves on the long haul connections we work with favored designers, to whom we offer solid money related responsibility and abroad promoting help as an end-result of need access to the best worldwide property speculation open doors for our clients.These openings are then put through a thorough procedure of due constancy before being chosen for introduction to financial specialists and wholesalers.<br><br>
                    We give exhaustive help all through each phase of the speculation procedure including , if required, the progressing administration
                    </p>
                </div>
                
                <div class="more_about">
                    <a href="index7b87.html?a=cust&amp;page=about-us" class="a-link">More About</a>
                </div>
            </div>
            
            <div class="about_right zoomIn animated wow"data-wow-duration="2s">
                <img src="images/abouti.png"/>
            </div>
        </div>
    </div>
    
    <div id="statistics">
        <div id="sub_statistics">
            <div class="state_one zoomIn animated wow"data-wow-duration="2s">
                <div class="statei">
                    <img src="images/statea.png"/>
                </div>
                <div class="state_box">
                    <div class="rd">
                        <p>Runing Days</p>
                    </div>
                    <div class="rdamount">
                        <p>1063</p>
                    </div>
                </div>
            </div>
            <div class="state_one zoomIn animated wow"data-wow-duration="2.5s">
                <div class="statei">
                    <img src="images/stateb.png"/>
                </div>
                <div class="state_box">
                    <div class="rd">
                        <p>Total Investment</p>
                    </div>
                    <div class="rdamount">
                        <p>$ 7032823.96</p>
                    </div>
                </div>
            </div>
            <div class="state_one zoomIn animated wow"data-wow-duration="3s">
                <div class="statei">
                    <img src="images/statec.png"/>
                </div>
                <div class="state_box">
                    <div class="rd">
                        <p>Total Withdraw</p>
                    </div>
                    <div class="rdamount">
                        <p>$ 3174246.35</p>
                    </div>
                </div>
            </div>
            <div class="state_one zoomIn animated wow"data-wow-duration="3.5s">
                <div class="statei">
                    <img src="images/stated.png"/>
                </div>
                <div class="state_box">
                    <div class="rd">
                        <p>Online Visitors</p>
                    </div>
                    <div class="rdamount">
                        <p>54</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="referbg">
        <div id="sub_referbg">
            <div class="affiliate">
                <p>Referral Program</p>
            </div>
            <div class="affiliate_down">
                <div class="affilate">
                    <div class="affiliate_head">
                        <p><img src="images/referi.png"/> Referral Commission</p>
                    </div>
                    <div class="refer_level">
                        
                        <div class="level_one">
                            <div class="leveli">
                                <p>5%</p>
                            </div>
                            <div class="leveli zoomIn animated wow"data-wow-duration="2s">
                                <img style="width: 69%;" src="images/referal.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="affiliatetext bounceInRight animated wow"data-wow-duration="2s">
                    <div class="textrefer">
                        <p>Our affiliate program enables you to gain additional benefit when you partake in the program. Notwithstanding the wage you win from the stores made to your picked speculation design, you additionally get a commission from the ventures of the speculators who enlists through your associate program</p>
                    </div>
                    <div class="partner">
                                                <a href="indexcca3.html?a=signup" class="a-link">BECOME A PARTNER</a>
                                            </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="features">
        <div id="subfeatures">
            <div class="feture_head">
                <p>Why Choose Us!</p>
            </div>
            <div class="features_down">
                <div class="fetures_left">
                    
                    <div class="fetures-one bounceInLeft amimated wow"data-wow-duration="2s">
                        <div class="feture-box">
                            <img src="images/uk.png">
                        </div>
                        <div class="fetures-text">
                            <div class="text-head">
                                <p>Uk Registered Company</p>
                            </div>
                            <div class="text-sed">
                                <p>Our organization is lawfully enlisted in the UK as <br> "flixtrade.co" .</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="fetures-one bounceInLeft amimated wow"data-wow-duration="2.5s">
                        <div class="feture-box">
                            <img src="images/ddos.png">
                        </div>
                        <div class="fetures-text">
                            <div class="text-head">
                                <p>DDoS Guard Protection</p>
                            </div>
                            <div class="text-sed">
                                <p>We use the highest level of protection . Our website can resists attacks of any size.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="fetures-one bounceInLeft amimated wow"data-wow-duration="3s">
                        <div class="feture-box">
                            <img src="images/comodo2.png">
                        </div>
                        <div class="fetures-text">
                            <div class="text-head">
                                <p>COMODO EV-SSL Certificate</p>
                            </div>
                            <div class="text-sed">
                                <p>Our Comodo Ssl Certificate guarantees the security of your transactions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clr">
                    </div>
                    <div class="feturehead">
                        <p>UNIQUE TRADE LIMITED</p>
                    </div>
                    
                    <div class="demotextc">
                        <p>Company Number : <span>11518123</span><br/>104 Fenchurch Street, London, United Kingdom, EC3M 5AL</p>
                    </div>
                    
                    <div class="checkcert">
                        <a target="_blank" href="https://beta.companieshouse.gov.uk/company/11518123" class="a-link">CHECK DETAILS</a>
                    </div>
                    
                    <div style="margin-left: 20px;" class="checkcert">
                        <a target="_blank" href="CERTIFICATE-.pdf" class="a-link">VIEW CERTIFICATE</a>
                    </div>
                    
                </div>
                
                <div class="certificate zoomIn animated wow"data-wow-duration="2s">
                   <a target="_blank" href="CERTIFICATE-.pdf"><img src="images/certi.png"/></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="deposit_withdraw">
         <div id="subfeatures">
             <div class="invest_left bounceInLeft animated wow"data-wow-duration="2s">
                 <div class="feture_head">
                    <p>Last Deposit</p>
                </div>
                 <div class="investboxa">
                   
				    <div class="state-one">
                        <div class="state-name">
                            <p>$30000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Rakha</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$55000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Cintia</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$100000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Fatima</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$180000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Seema</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$48000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Shihi</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$100000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Leeser</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$58000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Yuni</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$80000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Abdulaziz</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$100000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Farm</p>
                        </div>
                    </div>				    <div class="state-one">
                        <div class="state-name">
                            <p>$300000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Farase</p>
                        </div>
                    </div>                                         
                                    </div>
             </div>
             <div class="invest_right bounceInRight animated wow"data-wow-duration="2s">
                 <div class="feture_head">
                    <p>Last Withdraw</p>
                </div>
                 <div class="investboxa">
				                     
					<div class="state-one">
                        <div class="state-name">
                            <p>$528.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Rakha</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$2375.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Dianael</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$12000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Agness</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$15000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Anthony</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$20000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Cintia</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$45000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Yuni</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$35000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Jacobs</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$15006.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Fatima</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$9000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Seema</p>
                        </div>
                    </div>                    
					<div class="state-one">
                        <div class="state-name">
                            <p>$38000.00</p>
                        </div>
                        <div class="state-by">
                            <img src="images/1006.gif">
                        </div>
                        <div class="state-name">
                            <p>Cintia</p>
                        </div>
                    </div>                      </div>
             </div>
        </div>
    </div>
    <div id="main-payment"><!--start payment-->
        <div id="sub-payment">
            <div class="payment">
                <ul>
                    <li class="flipInY  wow  animated" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: flipInY;"><a href="#"><img src="images/perfect.png"></a></li>
                    <li class="flipInY  wow  animated" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: flipInY;"><a href="#"><img src="images/payeer.png"></a></li>
                    <li class="flipInY  wow  animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: flipInY;"><a href="#"><img src="images/bitcoin.png"></a></li>
                    <li class="flipInY  wow  animated" data-wow-duration="2s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.7s; animation-name: flipInY;"><a target="_blank" href="https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&amp;v_shortname=CL1&amp;v_search=https://flixtrade.co/&amp;x=6&amp;y=5"><img src="images/comodo.png"></a></li>
                    <li class="flipInY  wow  animated" data-wow-duration="2s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: flipInY;"><a target="_blank" href="https://secure.sitelock.com/public/verify/flixtrade.co"><img src="images/site.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
   <div id="footer">
        <div id="sub_footer">
            <div class="logof zoomIn animated wow" data-wow-duration="2s">
                <a href="indexbc14.html?a=home"><img src="logo.png"/></a>
            </div>
            <div class="fo-menu">
                <ul>
                    <li><a href="/">  home</a></li>
                    <li><a href="/about">  about us</a></li>
                    <li><a href="/news">  news</a></li>
                    <li><a href="/faq">  f.a.q</a></li>
                    <li><a href="/rules">  terms &amp; Condition</a></li>
                    <li><a href="/contactus">  support</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright 2020 &copy; flixtrade.co All rights reserved</p>
            </div>
        </div>
    </div>
</body>

<!-- Mirrored from flixtrade.co/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Mar 2021 04:18:41 GMT -->
</html>